.details-content.svelte-1p261ik{overflow:hidden}
.menu-list.svelte-vxblqn li a.svelte-vxblqn{display:flex;align-items:center;line-height:1}.menu-list.svelte-vxblqn li a .space.svelte-vxblqn{width:1em}
.item.svelte-1f1b5ok{margin:3rem 0}
